# =========================
# Node / Frontend
# =========================

node_modules/
dist/
build/
.next/
out/

# Package manager
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
logs/
*.log

# Coverage
coverage/

# =========================
# Python / Backend
# =========================

venv/
.venv/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/

# Environment
.env
.env.local
.env.*

# =========================
# Database
# =========================

*.sqlite
*.db

# =========================
# IDE
# =========================

.vscode/
!.vscode/extensions.json

.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Temporary
# =========================

tmp/
temp/
.cache/